@(message: String)

@main("Welcome to PlayChess") {


    <!-- this block is for initial board set up -->
    <script type="text/javascript">

        // declare the chess pieces' unicode characters
        var pieces = {
            white : {
                king : '\u2654',
                queen : '\u2655',
                rook : '\u2656',
                bishop : '\u2657',
                knight : '\u2658',
                pawn : '\u2659'
            },
            black : {
                king : '\u265A',
                queen : '\u265B',
                rook : '\u265C',
                bishop : '\u265D',
                knight : '\u265E',
                pawn : '\u265F'
            }
        };


        // set up everything when the document is ready
        $(document).ready(function() {
            kickStart();
        });


        // the main set up method that calls everything else
        function kickStart() {
            setDefaultBackground();

            $('#board > tbody > tr').each(function() {
                $(this).children().each(function() {
                    $(this).addClass('cell');
                });
            });

            $('#board > tbody > tr').each(function() {
                if ($(this).index() < 8) {
                    $(this).children().each(function() {
                        if ($(this).index() < 8) {
                            $(this).addClass('drop').attr('draggable', true);
                        }
                    });
                }
            });

            $('#board > tbody > tr > th').each(function() {
                $(this).children('div').addClass('head');
            });

            $('#board > tbody > tr > td').height($('#board > tbody > tr > td').width());
            $('#board > tbody > tr > th').height($('#board > tbody > tr > th').width());

            setDefaultBoard();
        }


        // set the checker patterned background for the chessboard
        function setDefaultBackground() {
            $('#board > tbody > tr').each(function() {
                if($(this).index() % 2 === 0) {
                    if ($(this).index() < 8) {
                        $(this).children('td').each(function() {
                            if($(this).index() % 2 === 1) {
                                $(this).addClass('bgGray');
                            }
                            else {
                                if ($(this).index() < 8) {
                                    $(this).addClass('bgWhite');
                                }
                            }
                        });
                    }
                }
                else {
                    $(this).children('td').each(function() {
                        if($(this).index() % 2 === 0) {
                            if ($(this).index() < 8) {
                                $(this).addClass('bgGray');
                            }
                        }
                        else {
                            $(this).addClass('bgWhite');
                        }
                    });
                }
            });

            $('#board > tbody > tr > td').each(function() {
                $(this).removeClass('selected');
                $(this).removeClass('highlight');
            });
        }


        // propagate the initial positions of the chess pieces
        function setDefaultBoard() {
            $('#board > tbody > tr').each(function() {
                if ($(this).index() == 0) {
                    $(this).children('td').each(function () {
                        if ($(this).index() == 0 || $(this).index() == 7) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.rook)
                            );
                        }
                        if ($(this).index() == 1 || $(this).index() == 6) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.knight)
                            );
                        }
                        if ($(this).index() == 2 || $(this).index() == 5) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.bishop)
                            );
                        }
                        if ($(this).index() == 3) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.queen)
                            );
                        }
                        if ($(this).index() == 4) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.king)
                            );
                        }
                    });
                }
                if ($(this).index() == 1) {
                    $(this).children('td').each(function () {
                        if ($(this).index() < 8) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.black.pawn)
                            );
                        }
                    });
                }
                if ($(this).index() == 6) {
                    $(this).children('td').each(function () {
                        if ($(this).index() < 8) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.pawn)
                            );
                        }
                    });
                }
                if ($(this).index() == 7) {
                    $(this).children('td').each(function () {
                        if ($(this).index() == 0 || $(this).index() == 7) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.rook)
                            );
                        }
                        if ($(this).index() == 1 || $(this).index() == 6) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.knight)
                            );
                        }
                        if ($(this).index() == 2 || $(this).index() == 5) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.bishop)
                            );
                        }
                        if ($(this).index() == 3) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.queen)
                            );
                        }
                        if ($(this).index() == 4) {
                            $(this).append(
                                $('<div>').addClass('drag').append(pieces.white.king)
                            );
                        }
                    });
                }
            });
        }


        // what to do when user resize the window
        $(window).resize(function () {
            var cw = $('.cell').width();
            $('.cell').height(cw);
            $('.cell').css('font-size', cw);
        });


        // highlight the tile that was clicked and send a get request for additional things to highlight
        $(document).ready(function() {
            $('.drop').click(function() {
                setDefaultBackground();
                var x = $(this).parent().children().index($(this));
                var y = $(this).parent().parent().children().index($(this).parent());
                console.log('clicked: ' + y + x);
                $(this).addClass('selected');

                $.ajax({
                    type: "GET",
                    url: "/click?x=" + x + "&y=" + y,
                    dataType: "json"
                }).done(function(data) {
                    highlight(data);
                });
            });
        });


        // if click on drop, click on the parent tile too
        /*$(document).ready(function() {
            $('.drag').click(function() {
                $(this).parent().click();
            });
        });*/


        // function that takes in a list of points on the chess board and highlight them
        function highlight(points) {
            for (p in points) {
                $('#board > tbody > tr').each(function() {
                    if ($(this).index() == points[p].y) {
                        $(this).children().each(function() {
                            if($(this).index() == points[p].x) {
                                $(this).addClass('highlight');
                            }
                        });
                    }
                });
            }
        }


        // function that adds an element to the captured list
        // which list to add to depends on color: black is true, white is false
        function addToCaptureList(color, piece) {
            if (color) {
                $('#bCap').append(
                    $('<li>').append(
                        $('<div>').append(piece)
                    )
                );
            } else {
                $('#wCap').append(
                    $('<li>').append(
                        $('<div>').append(piece)
                    )
                );
            }
        }

        // this block is for drag and drop jquery way

        /*
        // drag
        $(document).ready(function() {
            $('.drag').draggable({
                revert: true,
                proxy: 'clone',
                start: function(event, ui) {
                    $(this).click();
                },
                stop: function(event, ui) { }
            });
        });

        // drop
        $(document).ready(function() {
            $('td.drop').droppable({
                onDragEnter: function() {
                    $(this).addClass('over');
                },
                onDragLeave: function() {
                    $(this).removeClass('over');
                },
                onDrop: function (e, source) {
                    $(this).removeClass('over');
                    $(this).empty().append(source);
                }
            });
        });
        */

        // this block is for drag and drop html 5 way
        /*
        // the spots variables
        var dnds = document.querySelectorAll('.drag');
        var dragSrcElt = null;

        // add event listeners
        [].forEach.call(drags, function(drag) {
            drag.addEventListener('dragstart', handleDragStart, false);
            drag.addEventListener('dragenter', handleDragEnter, false);
            drag.addEventListener('dragover', handleDragOver, false);
            drag.addEventListener('dragleave', handleDragLeave, false);
        });


        // what to do when they start dragging? - highlight
        function handleDragStart(e) {
            this.style.opacity = '.01';
            console.log(this.innerHTML);
            dragSrcElt = this;

            e.dataTransfer.effectAllowed = 'move';
            e.dataTransfer.setData('text/html', this.innerHTML);

            this.css('background-color', 'blue');
            var x = this.parent().children().index(this);
            var y = this.parent().parent().children().index(this.parent());
            highlight(x, y);
        }


        // what to do when they drag over?
        function handleDragOver(e) {
            if (e.preventDefault) {
                e.preventDefault();
            }
            e.dataTransfer.dropEffect = 'move';
            return false;
        }


        // what to do when drag enter a tile? - add highlighting
        function handleDragEnter(e) {
            this.classList.add('over');
        }


        // what to do when drag leaves the tile? - remove highlighting
        function handleDragLeave(e) {
            this.classList.remove('over');
        }


        // what to do when they drop?
        function handleDrop(e) {
            if (e.stopPropagation) {
                e.stopPropagation();
            }

            if (dragSrcEl != this) {
                // Set the source column's HTML to the HTML of the column we dropped on.
                dragSrcEl.innerHTML = this.innerHTML;
                this.innerHTML = e.dataTransfer.getData('text/html');
            }

            return false;
        }
        */
    </script>


    <style type="text/css">

        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        /* all table cells are cells */
        .cell {
            min-width: 75px;
            min-height: 75px;
            max-width: 100px;
            max-height: 100px;
            width: auto;
            height: auto;
            text-align: center !important;
            vertical-align: middle !important;
        }

        /* non header cells are drop */
        .drop {
        }

        /* all div children of .tile with innerHTML non empty, i.e. having a chest piece, are drag */
        .drag {
            width: inherit;
            height: inherit;
            font-size: 75px;
            line-height: 75px;
        }

        /* all div children of header cells are head */
        .head {
            font-size: 75px;
            line-height: 75px;
        }

        .bgGray {
            background-color: gray;
        }

        .bgWhite {
            background-color: white;
        }

        .selected {
            background-color: #00FFFF;
        }

        .highlight {
            background-color: #00FF00;
        }

        #board {
            position: relative;
            float: left;
            min-width: 700px;
            min-height: 700px;
            max-width: 850px;
            max-height: 850px;
        }

        .capture {
            display: inline-block;
            position: relative;
            float: right;
            min-width: 250px;
            max-width: 300px;
            list-style-type: none;
            font-size: 50px;
            overflow: auto;
            margin: 0px;
        }

        .capture li {
            float: right;
            width: 75px;
            height: 75px;
            font-size: 60px;
            text-align: center !important;
            vertical-align: bottom !important;
            line-height: 75px;
        }

        h4 {
            float: right;
        }

        [draggable] {
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none;
            -khtml-user-drag: element;
            -webkit-user-drag: element;
        }

        .drop .over {
            border: 2px dashed #000;
        }
    </style>



    <div>
        <h3>@message</h3>
    </div>

    <div>
        <table id="board" class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>1</div></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>2</div></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>3</div></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>4</div></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>5</div></th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>6</div></th>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>7</div></th>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th><div>8</div></th>
                </tr>
                <tr>
                    <th><div>A</div></th>
                    <th><div>B</div></th>
                    <th><div>C</div></th>
                    <th><div>D</div></th>
                    <th><div>E</div></th>
                    <th><div>F</div></th>
                    <th><div>G</div></th>
                    <th><div>H</div></th>
                    <th></th>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <div>
            <h4>Captured pieces</h4>
            <ul id="bCap" class="capture">
            </ul>
            <ul id="wCap" class="capture">
            </ul>
        </div>
    </div>

}
