@(message: String)

@main("Welcome to PlayChess") {

    <script type="text/javascript">
        $(document).ready(function() {
            $('#board > tbody > tr > td').each(function() {
                $(this).addClass('tile');
            });

            $('#board > tbody > tr > td').css('height', $('#board > tbody > tr > td').css('width') );

            setDefaultBackground();            
        });

        // functions
        function setDefaultBackground() {
            $('#board > tbody > tr').each(function() {
                if($(this).index() % 2 === 0) {
                    $(this).children('td').each(function() {
                        if($(this).index() % 2 === 1) {
                            $(this).addClass('bgOrange');
                        } else {
                            $(this).addClass('bgWhite');
                        }
                    });
                } else {
                    $(this).children('td').each(function() {
                        if($(this).index() % 2 === 0) {
                            $(this).addClass('bgOrange');
                        } else {
                            $(this).addClass('bgWhite');
                        }
                    });
                }
            });
        }

    </script>

    <style type="text/css">
        .tile {
            min-width: 75px;
            min-height: 75px;
        }

        .bgOrange {
            background-color: orange;
        }

        .bgWhite {
            background-color: white;
        }
    </style>

    <div>
        <h3>@message</h3>
        <h3>Hello there!</h3>
    </div>

    <div>
        <table id="board" class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>1</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>2</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>3</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>4</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>5</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>6</th>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>7</th>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>8</th>
                </tr>
                <tr>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E</th>
                    <th>F</th>
                    <th>G</th>
                    <th>H</th>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
}
