@(message: String)

@main("Welcome to PlayChess") {

    <script type="text/javascript">
        var pieces = {
            white : {
                king : '\u2654',
                queen : '\u2655',
                rook : '\u2656',
                bishop : '\u2657',
                knight : '\u2658',
                pawn : '\u2659'
            },
            black : {
                king : '\u265A',
                queen : '\u265B',
                rook : '\u265C',
                bishop : '\u265D',
                knight : '\u265E',
                pawn : '\u265F'
            }
        };

        $(document).ready(function() {
            setDefaultBackground();

            $('#board > tbody > tr').each(function() {
                $(this).children().each(function () {
                    $(this).addClass('tile');
                });
            });

            $('#board > tbody > tr').each(function() {
                if ($(this).index() < 8) {
                    $(this).children().each(function () {
                        if ($(this).index() < 8) {
                            $(this).addClass('spot');
                        }
                    });
                }
            });

            $('#board > tbody > tr > td').height($('#board > tbody > tr > td').width());

            setDefaultBoard();
        });

        $(window).resize(function () {
            var cw = $('.tile').width();
            $('.tile').height(cw);
            $('.spot').css('font-size', cw);
        });

        // functions
        function setDefaultBackground() {
            $('#board > tbody > tr').each(function() {
                if($(this).index() % 2 === 0) {
                    if ($(this).index() < 8) {
                        $(this).children('td').each(function() {
                            if($(this).index() % 2 === 1) {
                                $(this).addClass('bgOrange');
                            }
                            else {
                                if ($(this).index() < 8) {
                                    $(this).addClass('bgWhite');
                                }
                            }
                        });
                    }
                }
                else {
                    $(this).children('td').each(function() {
                        if($(this).index() % 2 === 0) {
                            if ($(this).index() < 8) {
                                $(this).addClass('bgOrange');
                            }
                        }
                        else {
                            $(this).addClass('bgWhite');
                        }
                    });
                }
            });
        }

        function setDefaultBoard() {
            $('#board > tbody > tr').each(function() {
                if ($(this).index() == 0) {
                    $(this).children('td').each(function () {
                        if ($(this).index() == 0 || $(this).index() == 7) {
                            $(this).text(pieces.black.rook);
                        }
                        if ($(this).index() == 1 || $(this).index() == 6) {
                            $(this).text(pieces.black.knight);
                        }
                        if ($(this).index() == 2 || $(this).index() == 5) {
                            $(this).text(pieces.black.bishop);
                        }
                        if ($(this).index() == 3) {
                            $(this).text(pieces.black.queen);
                        }
                        if ($(this).index() == 4) {
                            $(this).text(pieces.black.king);
                        }
                    });
                }
                if ($(this).index() == 1) {
                    $(this).children('td').each(function () {
                        if ($(this).index() < 8) {
                            $(this).text(pieces.black.pawn);
                        }
                    });
                }
                if ($(this).index() == 6) {
                    $(this).children('td').each(function () {
                        if ($(this).index() < 8) {
                            $(this).text(pieces.white.pawn);
                        }
                    });
                }
                if ($(this).index() == 7) {
                    $(this).children('td').each(function () {
                        if ($(this).index() == 0 || $(this).index() == 7) {
                            $(this).text(pieces.white.rook);
                        }
                        if ($(this).index() == 1 || $(this).index() == 6) {
                            $(this).text(pieces.white.knight);
                        }
                        if ($(this).index() == 2 || $(this).index() == 5) {
                            $(this).text(pieces.white.bishop);
                        }
                        if ($(this).index() == 3) {
                            $(this).text(pieces.white.queen);
                        }
                        if ($(this).index() == 4) {
                            $(this).text(pieces.white.king);
                        }
                    });
                }
            });
        }

        $(document).ready(function() {
            setDefaultBackground();

            $(".spot").click(function() {
                var col = $(this).parent().children().index($(this));
                var row = $(this).parent().parent().children().index($(this).parent());
                //alert('Row: ' + row + ', Column: ' + col);
                $.ajax({
                    type: "POST",
                    url: "/moves",
                    data: { "Point": { "x": col, "y": row } }
                    dataType: "json"
                }).done(function(ps) {
                    for (p in ps) {
                        $('#board > tdoby > tr').each(function() {
                            if ($(this).index() == p.y) {
                                $(this).children().each(function() {
                                    if($(this).index() == p.x) {
                                        $(this).css('background-color', 'blue');
                                    }
                                });
                            }
                        });
                    }
                })
            });
        });

    </script>

    <style type="text/css">
        .tile {
            min-width: 75px;
            min-height: 75px;
            width: 100px;
            height: 100px;
            font-size: 100px;
            border: 0px;
            text-align: center !important;
            vertical-align: middle !important;
        }

        .spot {}

        .bgOrange {
            background-color: orange;
        }

        .bgWhite {
            background-color: white;
        }

        .hoverBorder {

        }
    </style>

    <div>
        <h3>@message</h3>
        <h3>Hello there!</h3>
    </div>

    <div class="setWidth">
        <table id="board" class="table table-bordered">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>1</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>2</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>3</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>4</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>5</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>6</td>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>7</td>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                    <td>F</td>
                    <td>G</td>
                    <td>H</td>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <div>
            <ul id="bCap" class="capture">
            </ul>
            <ul>
            </ul id="wCap" class="capture">
        </div>
    </div>
}
